<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Shine Software
 * @package    Unicredit
 * @copyright  Copyright (c) 2008 Shine Software (http://www.shinesoftware.com)
 */
?>


<?php 
  $payment = Mage::getStoreConfig('payment');
  $params = $payment['unicredit_cc'];
?>

<fieldset class="form-list">
    <?php $_code=$this->getMethodCode() ?>
    <ul id="payment_form_<?php echo $_code ?>" style="display:none">
        <li>
            <?php echo $this->__('Verrai reindirizzato nel sito della Unicredit per effettuare il pagamento.<br>') ?>
        </li>
    </ul>
</fieldset>
