body { font-family: FuturaBkBTBook !important}
.contain-size { padding: 0 !important;}
.pt_menu div.column { width: 210px !important;}
.block-cart { width: 250px !important;}
.block-reorder .product-name { margin-left: 40px !important;}
.products-grid .item-inner { border: 1px solid #ddd; }
.products-grid .product-info { border: 1px solid #ddd; border-top: 0; left: -1px !important; }
.product-view .product-img-box .more-views li a { width: 60px; }