<?php
$email = filter_input(INPUT_GET, 'email', FILTER_VALIDATE_EMAIL);
$actionUrl = $this->getUrl('subscribtion/subscriber/new');
?>
<div class="ec-subscribtion-form-container">
    <form action="<?php echo $actionUrl ?>" method="post" id="newsletter-validate-detail">
        <div class="form-title">
            <h2><?php echo $this->__('Newsletter') ?></h2>
        </div>
        <div class="newsletter-content">
            <div class="form-subscribe-header">
                <label for="newsletter"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('testo_newsletter_page')->toHtml() ?></label>
            </div>
            <div class="input-box">
                <input type="text" name="email" value="<?php echo isset($email) ? $email : ""; ?>" id="newsletter" title="<?php echo $this->__('Sign up for our newsletter') ?>" class="input-text required-entry validate-email" />
            </div>

            <div class="gdpr">
                <div>
                    <ul>
                        <li>
                            <input id="age-confirmation" type="checkbox" value="1" class="checkbox required-entry" name="age-confirmation"/>
                            <label for="age-confirmation"><?= $this->__("By checking this box I expressly declare to have the minimum age required (16 years) to register for the newsletter") ?></label>
                        </li>
                    </ul>
                </div>

                <div>
                    <p><?= $this->__('The undersigned, taken note of the information provided by the Owner, being aware that it is binding for completion of the service requested, gives consent for the use of the data provided:') ?></p>
                    <ul>
                        <li>
                            <input id="condizioni-2" type="checkbox" value="1" class="checkbox required-entry" name="trattamento_dati_personali"/>
                            <label for="condizioni-2"><?= $this->__('for the purpose of the e-commerce service chosen and the activities related to the successful outcome of the of the task;') ?></label>
                        </li>
                    </ul>
                </div>
                <div>
                    <p><?= $this->__('The undersigned, aware that it is not binding for the performance of the requested service, gives consent to the use of the data provided:') ?></p>
                    <ul>
                        <li>
                            <input id="condizioni-3" type="checkbox" value="1" class="checkbox required-entry" name="owner_utilizzo_dati" style=""/>
                            <label for="condizioni-3"><?= $this->__('for marketing and market research activities, in particular to perform certain promotions, advise on buying behaviors, promote surveys and marketing researches, send advertising / promotional material via e-mail or other means of communication;') ?></label>
                        </li>
                        <li>
                            <input id="condizioni-4" type="checkbox" value="1" class="checkbox" name="terze_parti_utilizzo_dati"/>
                            <label for="condizioni-4"><?= $this->__('for profiling activities with the purpose of improving products and services offered.') ?></label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="ec-recaptcha">
                <div id="rcode">
                    <div class="captcha">
                        <div class="g-recaptcha" data-sitekey="6Lf9JS4UAAAAAAZja2NZ7F5HRajOVV4EW7iSrWQW"></div>
                    </div>
                    <span id="captcha-required" style='display:none; color:#ff0000'><?php echo $this->__('Please Fill Recaptcha To Continue'); ?></span>
                </div>
                <script src='https://www.google.com/recaptcha/api.js'></script>
            </div>
            <div class="actions">
                <button type="submit" title="<?php echo $this->__('Subscribe') ?>" class="button" id="bottoneinscrizione"><span><span><?php echo $this->__('Subscribe') ?></span></span></button>
            </div>

        </div>
    </form>
    <script type="text/javascript">
        jQuery("#newsletter-validate-detail").on("submit",function(event){
            if (grecaptcha.getResponse() != "") {
                document.getElementById("captcha-required").style.display = "none";
                return true;
            } else {
                document.getElementById("captcha-required").style.display = "block";
                return false;
            }
        });
        var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
    </script>
</div>
