<?php $_categories = Mage::helper('catalog/category')->getStoreCategories() ?>
<?php if(count($_categories)): 
    ?>
<div class="nav-container">
    <div id="pt_custommenu" class="pt_custommenu">
        <?php
        $showhome = Mage::getStoreConfig('custommenu/general/showhome');
        $active = '';
        if(Mage::getSingleton('cms/page')->getIdentifier() == 'home'  && Mage::app()->getFrontController()->getRequest()->getRouteName() == 'cms') :
            $active = ' act';
        endif; 
        if($showhome){
            $id     = "_home";
            $html[] = '<div id="pt_menu' . $id . '" class="pt_menu' . $active . '" onmouseover="ptShowMenuPopup(this, \'popup' . $id . '\');" onmouseout="ptHideMenuPopup(this, event, \'popup' . $id . '\', \'pt_menu' . $id . '\')">';
            $html[] = '<div class="parentMenu">';
            $html[] = '<a href="'.Mage::helper('core/url')->getHomeUrl().'">';
            $html[] = '<span>Home</span>';
            $html[] = '</a>';
            $html[] = '</div>';
            $html[] = '<div id="popup' . $id . '" class="popup" onmouseout="ptHideMenuPopup(this, event, \'popup' . $id . '\', \'pt_menu' . $id . '\')">';
            $html[] = '</div>';
            $html[] = '</div>';
            $html = implode("\n", $html);
            echo $html;
        }
        $className = Mage::getConfig()->getBlockClassName('custommenu/custommenu');
        $block = new $className();               
        //$block->_prepareData();
        
        foreach ($_categories as $_category): ?>
            <?php echo $block->drawCustomMenuItem($_category) ?>
        <?php endforeach ?>
        
        <?php
        $collection = Mage::getModel('cms/block')->getCollection()
                    ->addFieldToFilter('identifier', array('like'=>'pt_item_menu'.'%'))
                    ->addFieldToFilter('is_active', 1);
        foreach($collection as $key => $value){
            $blockId = $value->getIdentifier();
            $blockHtml = $this->getLayout()->createBlock('cms/block')->setBlockId($blockId)->toHtml();
            if ($blockHtml) echo $block->drawCustomMenuBlock($blockId);
        }
        
        /*menu links*/
        $blockLinkId = 'pt_menu_links';
        $blockLinkHtml = $this->getLayout()->createBlock('cms/block')->setBlockId($blockLinkId)->toHtml();
        if ($blockLinkHtml){
            $id     = "_link";
            $htmlLink[] = '<div id="pt_menu' . $id . '" class="pt_menu" onmouseover="ptShowMenuPopup(this, \'popup' . $id . '\');" onmouseout="ptHideMenuPopup(this, event, \'popup' . $id . '\', \'pt_menu' . $id . '\')">';
            $htmlLink[] = '<div class="parentMenu">';
            $htmlLink[] = $blockLinkHtml;
            $htmlLink[] = '</div>';
            $htmlLink[] = '</div>';
            $htmlLink = implode("\n", $htmlLink);
            echo $htmlLink;
        }
        ?>
        
        <div class="clearBoth"></div>
    </div>
</div>
<script type="text/javascript">
//<![CDATA[
var CUSTOMMENU_POPUP_WIDTH = <?php echo (int)Mage::getStoreConfig('custommenu/popup/width')?>;
var CUSTOMMENU_POPUP_TOP_OFFSET = <?php echo (int)Mage::getStoreConfig('custommenu/popup/top_offset')?>;
var CUSTOMMENU_POPUP_RIGHT_OFFSET_MIN = <?php echo (int)Mage::getStoreConfig('custommenu/popup/right_offset_min')?>;
var CUSTOMMENU_POPUP_EFFECT = <?php echo (int)Mage::getStoreConfig('custommenu/popup/effect')?>;
//]]>

$jq(document).ready(function(){
    $jq("#pt_menu_link ul li").each(function(){
//        alert("test");
        var url = document.URL;
        $jq("#pt_menu_link ul li a").removeClass("act");
        $jq('#pt_menu_link ul li a[href="'+url+'"]').addClass('act');
    }); 
        
    $jq('.pt_menu').hover(function(){
       if(CUSTOMMENU_POPUP_EFFECT == 0) $jq(this).find('.popup').slideDown('slow');
       if(CUSTOMMENU_POPUP_EFFECT == 1) $jq(this).find('.popup').fadeIn('slow');
       if(CUSTOMMENU_POPUP_EFFECT == 2) $jq(this).find('.popup').show('slow');
    },function(){
       if(CUSTOMMENU_POPUP_EFFECT == 0) $jq(this).find('.popup').slideUp('fast');
       if(CUSTOMMENU_POPUP_EFFECT == 1) $jq(this).find('.popup').fadeOut('fast');
       if(CUSTOMMENU_POPUP_EFFECT == 2) $jq(this).find('.popup').hide('fast');
    })
    $jq('.pt_menu_no_child').hover(function(){
        $jq(this).addClass("active");
    },function(){
        $jq(this).removeClass("active");
    })
    
});
</script>

<?php endif ?>
