#pt_custommenu {
    position:relative;
    z-index:1000;
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
}
#pt_custommenu div.active .parentMenu a, #pt_custommenu div.act .parentMenu a { color: #fff;}
div.pt_menu {
    float: left;
}
#pt_menu_home { background: url(../images/icon-home.png) no-repeat 50% 50%;}
#pt_menu_home a { text-indent: -9999px;}
#pt_menu_link ul li a.act,
#pt_menu_link ul li a:hover,
div.pt_menu.act {
    /*background-color:#ADD8E6;*/
    color: #fff;
}
div.pt_menu.active {
}
div.popup {
    position:absolute;
    z-index:3000;
    display: none;
    background-color:#fff;
    text-align:left;
    left: 30px !important;
    top: 48px !important;
}
div.popup {
    padding: 16px;
}
div.pt_menu a, div.popup a, div.pt_menu .block-title{
    text-decoration: none;
    display:block;
    height: 24px;
    line-height: 30px;
    font-size: 15px;
    color: #4b4b4b;
    text-transform: uppercase;
}
.itemMenu h4.level1,
.itemMenu a.level1{
    background: #e9e9e9;
    border-top: 1px solid #c6c6c6;
    line-height: 25px;
    padding: 0 0 0 10px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: normal;
    color: #666;
    /*color: #1E7EC8;*/
}
.itemMenu h4.level1,
.itemSubMenu h4.level2 span{
    color: #897725;
}
.itemSubMenu h4.level2,
.itemSubMenu a.level2,
.itemSubMenu h4.level3,
.itemSubMenu a.level3,
.itemMenu a.level1.nochild{
    color: #727272;
    padding-left: 0;
    text-transform: none;
    font-weight: normal;
    font-size: 14px;;
}
.itemSubMenu a.level2:hover,
.itemMenu a.level1.nochild:hover{
}
div.popup a.actParent {
    color: #4D4D4D;
}
div.popup a.act {
    color: #A52A2A !important;
}

div.column {
    float:left;
    width:215px; /* column width */
    margin-right: 0;
    padding-right: 0;
    padding-left: 12px;
}
div.column.first { padding-left: 0;}
div.column.last {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}
div.itemSubMenu {
    border: 1px solid #e9e9e9;
    padding-left:15px;
    padding-bottom: 10px;
}
.clearBoth {
    clear:both;
}
.block2{
   
}
#popup_home{
    display: none !important;
}
div.popup .block1{
    overflow: hidden;
}
div.popup .block1 .column{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
/*show right block*/
div.popup .floatleft{
    float: left;
}
div.popup .block1.floatleft{
    /*width: 650px;*/
}
div.popup .block2.floatleft{
    /*width: 250px;*/
}
div.popup .blockright img{
    max-width: 100%;
} 
.parentMenu .block-title{
    color: #1E7EC8;
}

div.pt_menu .parentMenu p{
    margin: 0;
    padding: 0;
}
#pt_menu_link .parentMenu ul li{
    float: left;
    list-style: none;
}
#pt_menu_link .parentMenu ul li a{
    float: left;
    padding: 5px 12px 6px 8px;
    display: block;
}
#pt_menu_link{
    padding: 0;
}