/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.ma-featuredproductslider-container .flex-container a:active,
.ma-featuredproductslider-container .flexslider a:active,
.ma-featuredproductslider-container .flex-container a:focus,
.ma-featuredproductslider-container .flexslider a:focus  {outline: none;}
.ma-featuredproductslider-container .slides,
.ma-featuredproductslider-container .flex-control-nav,
.ma-featuredproductslider-container .flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.ma-featuredproductslider-container .flexslider {margin: 0; padding: 0;}
.ma-featuredproductslider-container .flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.ma-featuredproductslider-container .flexslider .slides img {display: inline-block;}
.ma-featuredproductslider-container .flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.ma-featuredproductslider-container .slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .ma-featuredproductslider-container .slides {display: block;} 
* html .ma-featuredproductslider-container .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .ma-featuredproductslider-container .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.ma-featuredproductslider-container .flexslider {margin: 5px 0 20px; position: relative; zoom: 1;}
.ma-featuredproductslider-container .flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.ma-featuredproductslider-container .loading .flex-viewport {max-height: 300px;}
.ma-featuredproductslider-container .flexslider .slides {zoom: 1;}

.ma-featuredproductslider-container .carousel li {margin-right: 7px; text-align: center; }


/* Direction Nav */
.ma-featuredproductslider-container { }
.ma-featuredproductslider-container .ma-bestseller-sldier-title { background: #ddd; text-align: left; padding: 0 12px; height: 37px;}
.ma-featuredproductslider-container .ma-bestseller-sldier-title h2 { background: #fff; text-transform: uppercase; display: inline; padding: 7px 15px; font-size: 13px; float: left; margin: 7px 0 0;}
.ma-featuredproductslider-container .slides li { position: relative;}
.ma-featuredproductslider-container .slides li:hover .product-info { display: block; }

.ma-featuredproductslider-container .flex-direction-nav {*height: 0;}
.ma-featuredproductslider-container .flex-direction-nav a {width: 10px; height: 21px; margin: -33px 0 0; display: block; background: url(../images/arrow-r2.png) no-repeat 0 0; position: absolute; top: 0; cursor: pointer; text-indent: -9999px; }
.ma-featuredproductslider-container .flex-direction-nav .flex-next { background-position: 100% 0; right: 16px; }
.ma-featuredproductslider-container .flex-direction-nav .flex-prev { right: 32px;}
.ma-featuredproductslider-container .flexslider .flex-next:hover { background-position: 100% 100%; }
.ma-featuredproductslider-container .flexslider .flex-prev:hover { background-position: 0 100%; }
.ma-featuredproductslider-container .flexslider:hover .flex-next:hover, .ma-featuredproductslider-container .flexslider:hover .flex-prev:hover {opacity: 1;}
.ma-featuredproductslider-container .flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.ma-featuredproductslider-container .flex-control-nav {width: 100%; position: absolute; top: -16px; text-align: center;}
.ma-featuredproductslider-container .flex-control-nav li { margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.ma-featuredproductslider-container .flex-control-paging li a {width: 11px; height: 11px; display: block; background: #aaa; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.ma-featuredproductslider-container .flex-control-paging li a:hover { background: #fff; }
.ma-featuredproductslider-container .flex-control-paging li a.flex-active { background: #fff; cursor: default; }

.ma-featuredproductslider-container .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.ma-featuredproductslider-container .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.ma-featuredproductslider-container .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.ma-featuredproductslider-container .flex-control-thumbs img:hover {opacity: 1;}
.ma-featuredproductslider-container .flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

.ma-featuredproductslider-container .ma-loading {
	width: 16px;
	height: 16px;
	position: absolute;
	z-index: 99;
	background: url(../images/loader.gif) no-repeat ;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
}