
#twitter_update_list {
    padding: 0 5px;
}
#twitter_update_list li {
    padding: 5px 0;
    float: left;
    clear: both;
    width: 100%;
}
#twitter_update_list a {
    font-style: italic; 
}
#twitter_update_list li span {
    display: block;
}
#twitter_update_list .icon-tweet {
    float: left;
    width: 32px;
    height: 50px;
}
#twitter_update_list .tweet-content {
    margin: 0 0 0 40px;
    border-bottom: 1px dashed #DDDDDD;
    padding: 0 0 10px;
}

