
#ma-new-vertscroller-right, #ma-new-vertscroller-left {
	height: 5555px !important;
}

.ma-new-vertscroller-wrap  .jcarousel-container-vertical {
    width: auto !important;
    height: 345px;
    padding: 5px 0 0;
}
.ma-new-vertscroller-wrap  .jcarousel-clip {
    overflow: hidden;
}
.ma-new-vertscroller-wrap  .jcarousel-clip-vertical {
    width: auto !important;
    height: 530px !important;
}
.ma-new-vertscroller-wrap  .jcarousel-item {
    width: 100% !important;
	padding: 0 0 5px !important; 
}
.ma-new-vertscroller-wrap .product-image {
}
.ma-new-vertscroller-wrap .product-name  {
	margin: 0 0 5px;
}

.ma-new-vertscroller-wrap  .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}
.ma-new-vertscroller-wrap .block-content li.item {
	padding: 0;
}

/**
 *  Vertical Buttons
 */
.ma-new-vertscroller-wrap .jcarousel-next-vertical, 
.ma-new-vertscroller-wrap  .jcarousel-prev-vertical {
	width: 22px;
	height: 22px;
	position: absolute;
	top: -28px;
	cursor: pointer;
}
.ma-new-vertscroller-wrap .jcarousel-next-vertical {
	right: 0;
}

.ma-new-vertscroller-wrap  .jcarousel-next-vertical:hover,
.ma-new-vertscroller-wrap  .jcarousel-next-vertical:focus {

}
.ma-new-vertscroller-wrap  .jcarousel-prev-vertical {
	right: 25px;
}
.ma-new-vertscroller-wrap  .jcarousel-prev-vertical:hover,
.ma-new-vertscroller-wrap  .jcarousel-prev-vertical:focus {

}
.ma-new-vertscoller-content { }
.ma-new-vertscoller-content .related-product-title { background: none repeat scroll 0 0 #E9E9E9; border-top: 1px solid #C6C6C6;}
.ma-new-vertscoller-content .related-product-title h2 {
    color: #434343;
    display: block;
    font: 13px/30px FuturaBkBTBook;
    padding-left: 10px;
    text-transform: uppercase;}
.ma-new-vertscoller-content .new-vertscroller li .item-inner { position: relative; width: 200px; margin: auto;}
.ma-new-vertscoller-content .new-vertscroller li.first { margin: 0; }
.ma-new-vertscoller-content .product-info .price-box { width: 100%; padding: 5px 0; text-align: center;}
.ma-new-vertscoller-content .product-info .price-box .regular-price { float: none;}
.ma-new-vertscoller-content .product-info .price-box .old-price { text-align: center;}
.ma-new-vertscoller-content .product-info .mt-actions { margin-bottom: 10px;}
.ma-new-vertscoller-content .new-vertscroller li .item-inner:hover .product-info { display: block; }
.ma-new-vertscroller-wrap .jcarousel-container {
}