.ma-tabsproduct-contain {
    float: left;
    clear: both;
    width: 100%;
}
.ma-tabs-title {
    background: #dfdfdf;
    float: left;
    width: 100%;
}
.tabs-title {}
.ma-tabs-title li {
    float: left;
    margin-left: 5px;
}
.ma-tabs-title li.first {
    margin-left: 0;
}
.ma-tabs-title a {
    float: left;
    font-weight: bold;
    font-size: 120%;
    text-decoration: none;
    color: #464646;
    padding: 5px 15px;
}
.ma-tabs-title li.active a, .ma-tabs-title a:hover {
    background: #cdcdcd;
    color: #000;
}
.ma-tabs-content {
    float: left;
    clear: both;
}