/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.ma-upsellslider-container .flex-container a:active,
.ma-upsellslider-container .flexslider a:active,
.ma-upsellslider-container .flex-container a:focus,
.ma-upsellslider-container .flexslider a:focus  {outline: none;}
.ma-upsellslider-container .slides,
.ma-upsellslider-container .flex-control-nav,
.ma-upsellslider-container .flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.ma-upsellslider-container .flexslider {margin: 0; padding: 0;}
.ma-upsellslider-container .flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.ma-upsellslider-container .flexslider .slides img { display: inline-block;}
.ma-upsellslider-container .flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.ma-upsellslider-container .slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .ma-upsellslider-container .slides {display: block;} 
* html .ma-upsellslider-container .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .ma-upsellslider-container .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.ma-upsellslider-container .flexslider {margin: 10px 0 20px; position: relative; zoom: 1;}
.ma-upsellslider-container .flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.ma-upsellslider-container .loading .flex-viewport {max-height: 300px;}
.ma-upsellslider-container .flexslider .slides {zoom: 1;}

.ma-upsellslider-container .carousel li {margin-right: 15px; text-align: center; }


/* Direction Nav */
.ma-upsellslider-container { margin-top: 15px; float: left;
  width: 100%;}
.ma-upsellslider-container .ma-upsellslider-title { background: url(../images/bg-title-slider.png) 0 50% repeat-x; text-align: center;}
.ma-upsellslider-container .ma-upsellslider-title h2 { background: #fff; text-transform: uppercase; display: inline; padding: 0 15px; font-size: 13px;}
.ma-upsellslider-container .slides li { position: relative;}
.ma-upsellslider-container .product-info .price-box { width: 100%; padding: 10px 0; text-align: center;}
.ma-upsellslider-container .product-info .price-box .regular-price { float: none;}
.ma-upsellslider-container .product-info .price-box .old-price { text-align: center;}
.ma-upsellslider-container .slides li:hover .product-info { display: block; }
.ma-upsellslider-container .flex-direction-nav {*height: 0;}

.ma-upsellslider-container .flex-direction-nav a {
    background: url("../images/bg_direction_nav.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 47px;
    margin: -20px 0 0;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 18px;}
.ma-upsellslider-container .flexslider .flex-next { background-position: 100% 0;
    right: 6px; }
.ma-upsellslider-container .flexslider .flex-prev { left: 6px;}
.ma-upsellslider-container .flexslider:hover .flex-next { background-position: 100% 100%; }
.ma-upsellslider-container .flexslider:hover .flex-prev { background-position: 0 100%; }
.ma-upsellslider-container .flexslider:hover .flex-next:hover, .ma-upsellslider-container .flexslider:hover .flex-prev:hover {opacity: 1;}
.ma-upsellslider-container .flex-direction-nav .flex-disabled { opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.ma-upsellslider-container .flex-control-nav {width: 100%; position: absolute; top: -16px; text-align: center;}
.ma-upsellslider-container .flex-control-nav li { margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.ma-upsellslider-container .flex-control-paging li a {width: 11px; height: 11px; display: block; background: #aaa; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.ma-upsellslider-container .flex-control-paging li a:hover { background: #fff; }
.ma-upsellslider-container .flex-control-paging li a.flex-active { background: #fff; cursor: default; }

.ma-upsellslider-container .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.ma-upsellslider-container .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.ma-upsellslider-container .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.ma-upsellslider-container .flex-control-thumbs img:hover {opacity: 1;}
.ma-upsellslider-container .flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .ma-upsellslider-container .flex-direction-nav .flex-prev {opacity: 1; }
  .ma-upsellslider-container .flex-direction-nav .flex-next {opacity: 1; }
}
.ma-upsellslider-container .ma-loading {
	width: 16px;
	height: 16px;
	position: absolute;
	z-index: 99;
	background: url(../images/loader.gif) no-repeat ;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
}