<?php $customerPrivacy = Mage::helper('customer')->getCustomer(); ?>
<?php $newsletter = new Mage_Customer_Block_Newsletter() ?>
<div class="page-title">
    <h1><?php echo $this->__('Newsletter Subscription') ?></h1>
</div>
<?php echo $this->getMessagesBlock()->toHtml() ?>
<?php echo $this->getChildHtml('form_before')?>
<form action="<?php echo $this->getAction() ?>" method="post" id="form-validate" class="ec-newsletter-privacy">
    <div class="fieldset">
        <?php echo $this->getBlockHtml('formkey')?>
        <h2 class="legend"><?php echo $this->__('Newsletter Subscription') ?></h2>
        <ul class="form-list">
            <li class="control"><input type="checkbox" name="is_subscribed" id="subscription" value="1" title="<?php echo Mage::helper('core')->quoteEscape($this->__('General Subscription')) ?>"<?php if($this->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox" /><label for="subscription"><?php echo $this->__('General Subscription') ?></label></li>
            <?php /* Extensions placeholder */ ?>
            <?php echo $this->getChildHtml('customer.form.newsletter.extra')?>
        </ul>
        <div>
            <div class="col-12 ec-privacy-management-note">
                <p>
                    <?php echo $this->__("Il sottoscritto, acquisite le informazioni dal Titolare, presta il consenso all'utilizzo dei dati forniti:") ?>
                </p>
            </div>
            <ul class="form-list ec-privacy-management">
                <li class="control mt-0 col-12">
                    <input id="condizioni-3" type="checkbox" value="1" <?php if($customerPrivacy->getData('owner_utilizzo_dati') == "1"): echo 'checked="checked" '; endif; ?>class="checkbox<?php if($newsletter->getIsSubscribed() == "1"): echo ' required-entry'; endif; ?>"  name="owner_utilizzo_dati" />
                    <label for="condizioni-3"><?php echo $this->__("per attività di marketing e ricerca di mercato, in particolare effettuare specifiche promozioni, sollecitare comportamenti d’acquisto, promuovere sondaggi e ricerche di marketing, invio di materiale pubblicitario/ promozionale via posta elettronica o altri mezzi di comunicazione;") ?></label>
                </li>
                <li class="control mt-0 col-12">
                    <input id="condizioni-4" type="checkbox" value="1" <?php if($customerPrivacy->getData('terze_parti_utilizzo_dati') == "1"): echo 'checked="checked" '; endif; ?>class="checkbox" name="terze_parti_utilizzo_dati" />
                    <label for="condizioni-4"><?php echo $this->__("per attività di profilazione al fine di migliorare l'offerta di prodotti e servizi.") ?></label>
                </li>
            </ul>
        </div>
    </div>
    <div class="buttons-set">
        <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
        <button onclick="trackValidation()" type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Save')) ?>" class="button">
            <?php echo $this->__('Save') ?>
        </button>
    </div>
</form>
<?php /* Extensions placeholder */ ?>
<?php echo $this->getChildHtml('customer.form.newsletter.extra2')?>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
//]]>

    jQuery("#subscription").change(function(){
        if(jQuery(this).is(":checked")){
            jQuery("#condizioni-3").addClass("required-entry");
        } else {
            jQuery("#condizioni-3").removeClass("required-entry");
        }
    });

    function trackValidation() {
        if (!dataForm.validator.validate()) {
            var failed_elements = Form.getElements(dataForm.form).findAll(function(elm){return $(elm).hasClassName('validation-failed')});
            failed_elements.each(function(element){
                if(element.id == "condizioni-3"){
                    alert("<?php echo Mage::helper('privacyutente')->__("If you are subscribed to the newsletter, the consent to using your data for sending information and commercial offers is required."); ?>");
                }
            });
        }
    }
</script>