<?php $customerPrivacy = Mage::helper('customer')->getCustomer(); ?>
<?php $newsletter = new Mage_Customer_Block_Newsletter() ?>
<div class="page-title">
    <h1><?php echo $this->__('Privacy management') ?></h1>
</div>
<form action="<?php echo $this->getUrl('privacyutente/editprivacy/editprivacy') ?>" method="post" autocomplete="off" id="form-validate" class="scaffold-form ec-privacy-form" enctype="multipart/form-data">
    <div class="fieldset col-12">
        <?php echo $this->getBlockHtml('formkey')?>
    </div>
    <div class="col-12 ec-privacy-management-note">
        <p>
            <?php echo $this->__("The undersigned, taken note of the information provided by the Owner, being aware that it is binding for completion of the service requested, gives consent for the use of the data provided:")?>
        </p>
    </div>
    <ul class="col-12 form-list ec-privacy-management">
         <li class="control mt-0 col-12">
            <input id="condizioni-2" type="checkbox" value="1" <?php if($customerPrivacy->getData('trattamento_dati_personali') == "1"): echo 'checked="checked" '; endif; ?>class="checkbox required-entry" name="trattamento_dati_personali" />
            <label for="condizioni-2"><?php echo $this->__("for the purpose of the e-commerce service chosen and the activities related to the successful outcome of the of the task;") ?></label>
        </li>
    </ul>
    <div class="col-12 ec-privacy-management-note">
        <p>
            <?php echo $this->__("The undersigned, aware that it is not binding for the performance of the requested service, gives consent to the use of the data provided:")?>
        </p>
    </div>
    <ul class="col-12 form-list ec-privacy-management">
        <li class="control mt-0 col-12">
            <input id="condizioni-3" type="checkbox" value="1" <?php if($customerPrivacy->getData('owner_utilizzo_dati') == "1"): echo 'checked="checked" '; endif; ?>class="checkbox<?php if($newsletter->getIsSubscribed() == "1"): echo ' required-entry'; endif; ?>"  name="owner_utilizzo_dati" />
            <label for="condizioni-3"><?php echo $this->__("for marketing and market research activities, in particular to perform certain promotions, advise on buying behaviors, promote surveys and marketing researches, send advertising / promotional material via e-mail or other means of communication;") ?></label>
        </li>
        <li class="control mt-0 col-12">
            <input id="condizioni-4" type="checkbox" value="1" <?php if($customerPrivacy->getData('terze_parti_utilizzo_dati') == "1"): echo 'checked="checked" '; endif; ?>class="checkbox" name="terze_parti_utilizzo_dati" />
            <label for="condizioni-4"><?php echo $this->__("for profiling activities with the purpose of improving products and services offered.") ?></label>
        </li>
    </ul>
    <div class="col-12">
        <!--<p class="back-link"><a href="<?php //echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php //echo $this->__('Back') ?></a></p>-->
        <button onclick="trackValidation()" type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Save')) ?>" class="button"><?php echo $this->__('Save') ?></button>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);

    function trackValidation() {
        if (!dataForm.validator.validate()) {
            var failed_elements = Form.getElements(dataForm.form).findAll(function(elm){return $(elm).hasClassName('validation-failed')});
            failed_elements.each(function(element){
                if(element.id == "condizioni-3"){
                    alert("<?php echo Mage::helper('privacyutente')->__("If you are subscribed to the newsletter, the consent to using your data for sending information and commercial offers (second flag) is required."); ?>");
                }
            });
        }
    }
//]]>
</script>