#pt_custommenu {
    position:relative;
    z-index:1000;
    font-size: 14px;
    margin: 0 auto;
    padding: 0 16px;
    width: 918px;
}
div.pt_menu {
    float: left;
}
#pt_menu_link ul li a.act,
#pt_menu_link ul li a:hover,
div.pt_menu.act {
    /*background-color:#ADD8E6;*/
    background-color:#FFC0CB;
}
div.pt_menu.active {
    background-color:#FFC0CB;
}
div.popup {
    position:absolute;
    z-index:3000;
    border:5px solid #FFC0CB;
    display: none;
    background-color:#fff;
    text-align:left;
}
div.pt_menu, div.popup {
    padding: 5px 12px 6px 8px;
}
div.pt_menu a, div.popup a {
    text-decoration: none;
    display:block;
    height: 21px;
    line-height: 21px;
}
.itemMenu h4.level1,
.itemMenu a.level1{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #555555;
    /*color: #1E7EC8;*/
}
.itemMenu h4.level1,
.itemSubMenu h4.level2 span{
    color: #897725;
}
.itemSubMenu h4.level2,
.itemSubMenu a.level2,
.itemSubMenu h4.level3,
.itemSubMenu a.level3,
.itemMenu a.level1.nochild{
    background: url("../images/black-dot.jpg") no-repeat left center;
    color: #555555;
    padding-left: 8px;
    text-transform: none;
    font-weight: normal;
    font-size: 14px;
}
.itemSubMenu a.level2:hover,
.itemMenu a.level1.nochild:hover{
    color: #A52A2A;
}
div.popup a.actParent {
    color: #4D4D4D;
}
div.popup a.act {
    color: #A52A2A !important;
}

div.column {
    float:left;
    width:200px; /* column width */
    margin-right: 5px;
    padding-right: 5px;
    border-right: 3px solid #c2b160;
}
div.column.last {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}
div.itemSubMenu {
    margin-left:15px;
}
.clearBoth {
    clear:both;
}
.block2{
    margin-top: 10px;
}
#popup_home{
    display: none !important;
}
div.popup .block1{
    overflow: hidden;
}
div.popup .block1 .column{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
/*show right block*/
div.popup .floatleft{
    float: left;
}
div.popup .block1.floatleft{
    /*width: 650px;*/
}
div.popup .block2.floatleft{
    /*width: 250px;*/
}
div.popup .blockright img{
    max-width: 100%;
} 
.parentMenu .block-title{
    color: #1E7EC8;
}

div.pt_menu .parentMenu p{
    margin: 0;
    padding: 0;
}
#pt_menu_link .parentMenu ul li{
    float: left;
    list-style: none;
}
#pt_menu_link .parentMenu ul li a{
    float: left;
    padding: 5px 12px 6px 8px;
    display: block;
}
#pt_menu_link{
    padding: 0;
}