.ma-new-vertscroller-wrap .jcarousel-container {
}
#ma-new-vertscroller-right, #ma-new-vertscroller-left {
	height: 5555px !important;
}

.ma-new-vertscroller-wrap  .jcarousel-container-vertical {
    width: 172px;
    height: 345px;
    padding: 35px 10px;
}
.ma-new-vertscroller-wrap  .jcarousel-clip {
    overflow: hidden;
}
.ma-new-vertscroller-wrap  .jcarousel-clip-vertical {
    width: 172px;
    height: 345px;
}
.ma-new-vertscroller-wrap  .jcarousel-item {
    width: 172px;
    height: 130px;
}
.ma-new-vertscroller-wrap .product-image {
	float: left;
	margin: 5px 10px 10px 0;
}
.ma-new-vertscroller-wrap .product-name  {
	margin: 0 0 5px;
}

.ma-new-vertscroller-wrap  .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}
.ma-new-vertscroller-wrap .block-content li.item {
	padding: 0;
}

/**
 *  Vertical Buttons
 */
.ma-new-vertscroller-wrap .jcarousel-next-vertical, 
.ma-new-vertscroller-wrap  .jcarousel-prev-vertical {
    background: transparent url(../images/arrow-updown.png) no-repeat 0 0;
	width: 60px;
	height: 14px;
	position: absolute;
	left: 35%;
	cursor: pointer;
}
.ma-new-vertscroller-wrap .jcarousel-next-vertical {
    bottom: 5px;
	background-position: 0 100%;
}

.ma-new-vertscroller-wrap  .jcarousel-next-vertical:hover,
.ma-new-vertscroller-wrap  .jcarousel-next-vertical:focus {
    background-position: 0 -28px;
}
.ma-new-vertscroller-wrap  .jcarousel-prev-vertical {
    top: 5px;
}
.ma-new-vertscroller-wrap  .jcarousel-prev-vertical:hover,
.ma-new-vertscroller-wrap  .jcarousel-prev-vertical:focus {
    background-position: 0 -14px;
}